@tailwind base;
@tailwind components;
@tailwind utilities;

.home-page {
  width: 100%;
  height: 100vh;
  @apply grid grid-cols-4;
}

.nav-bar {
  @apply flex items-center justify-between flex-wrap;
}

.search-container {
  @apply w-full block flex-grow lg:flex lg:items-center lg:w-auto;
}

.products-panel {
  width: 100%;
  border: 2px solid #f4f4f4;
  @apply col-span-4;
  @apply xl:col-span-3;
  @apply bg-white;
  @apply pt-10 pl-16 pr-16;
}

.shoping-cart {
  width: 100%;
  @apply col-span-4;
  @apply xl:col-span-1;
  @apply bg-gray;
}

.title {
  @apply flex items-center flex-shrink-0  mr-6;
}

.title svg {
  @apply fill-current h-8 w-8 mr-4;
}

.title span {
  @apply font-semibold text-xl tracking-tight;
}

.search-box {
  @apply h-full
    pl-11;
  width: 100%;
  @apply relative;
}

.search-box input {
  @apply bg-gray;
  @apply h-full;
  @apply px-3
    py-4 
    relative 
  bg-gray
    text-base
    outline-none 
    focus:outline-none 
    focus:ring w-full 
    pl-14;
  border-radius: 25px;
}

.search-box span {
  @apply z-10
    h-full
    leading-normal
    font-normal
    absolute
    text-center
  
    rounded
    text-lg
    items-center
    justify-center
    w-10
    pl-5
    py-4;
}

.add-secction {
  @apply mt-16;
}

.add-card {
  @apply bg-delivery;
  @apply items-center;
  @apply grid grid-cols-4;
  @apply gap-10;
  height: 200px;
  border-radius: 25px;
  @apply relative;
  @apply pr-10;
  @apply pl-10;
}

.add-image-container {
  @apply col-span-4;
  @apply xl:col-span-1;
}

.add-image {
  @apply absolute;
  width: 250px;
  top: -32px;
}

.add-content {
  @apply col-span-4;
  @apply xl:col-span-2;
  justify-self: center;
  align-self: center;
}

.add-content h1 {
  @apply font-sans;
  @apply text-3xl;
  @apply font-semibold;
  @apply text-orange;
}

.add-content span {
  @apply font-sans;
  @apply text-base;
  @apply font-thin;
}

.link-content {
  justify-self: self-end;
  align-self: flex-end;
  padding-bottom: 2em;
  padding-right: 2em;
}

.link-content a {
    @apply text-orange;
    @apply font-medium;
}


.categories-secction{
    width: 100%;
    @apply mt-20;

}


.title-categories-secion{
    display: flex;
    @apply grid grid-cols-2;
}



.title-categories{
    @apply col-span-2;
    @apply lg:col-span-1;
    @apply justify-self-start;
}

.dropdow-categories{
    @apply col-span-2;
    @apply lg:col-span-1;
    @apply justify-self-start;
    @apply lg:justify-self-end;
}

.title-image-categories{
    display: flex;
    align-items: center;
    @apply text-3xl;
    @apply font-semibold;
}


.title-image-categories h1{
    @apply mr-4;
}

.dropdown-delivery{
    @apply relative inline-flex;
    align-self: center;
}
.dropdown-delivery svg {
    @apply 
    w-2
    h-2
    absolute
    top-0
    right-0
    m-4
    pointer-events-none;
}

.dropdown-delivery select{
    @apply 
    border
    rounded-full
  text-gray
    h-10
    pl-10
    pr-10
    bg-orange
    hover:border-gray
    focus:outline-none
    appearance-none;
}

.time-icon{
    @apply 
    w-4
    h-4
    absolute
    top-0
    left-5
    
}

.categories-slider{
    @apply mt-2;
    @apply grid grid-flow-col auto-cols-max;
    @apply gap-5;
    @apply overflow-x-auto;
    padding-top: 15px;
    padding-bottom: 15px;
}


.category-card{
    @apply shadow-md;
    width: 70px;
    height: 120px;
    padding: 5px;
    border-radius: 100px;
    @apply text-center;
}

.icon-avatar-category{
    width: 60px;
    height: 60px;
    padding: 12px;
    border-radius: 100px;
    @apply bg-white;
    @apply border-2;
    @apply border-gray;
    
}

.category-card h1{
    @apply mt-3;
}

.category-card:hover{
    @apply bg-yellow;
}

.category-name{
    @apply text-xs;
    @apply font-semibold;
}


.products-slider{
    @apply gap-10;
    @apply h-full;
    @apply mt-8;
    @apply grid grid-flow-col auto-cols-max;
    @apply justify-between;
    @apply overflow-x-auto;
}

.product-card{
   
}

.product-card-header{
    width: 260px;
    height: 130px;
    @apply relative;
}
.product-card-image{
  border-radius: 15px;
  @apply relative;
}

.product-card-time{
    height: 35px;
    width: 80px;
    @apply absolute;
    @apply bg-gray;
    bottom: 0;
    text-align: center;
    opacity: 90%;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}


.product-card-time h1{
    @apply mt-2;
    @apply font-semibold;
    @apply text-xs;
}
.product-card-time h1 span{
    
    @apply font-thin;
    @apply text-xs;
}



.product-card-info{
    @apply col-start-1 row-start-2 sm:pb-16;

}

.product-container-info{
    @apply flex items-center text-sm font-medium  sm:mb-4;

}

.product-star{
    margin-right: 4px;
}


.shoping-cart{
    @apply pt-36 pl-16 pr-16;
}



.emoji{
    @apply text-left;
    @apply text-3xl;
    @apply font-semibold;
    width: 130px;
    @apply relative;
}

.emoji-icon{
    @apply absolute;
    top :0px;
    left: 45px;
}

.shoping-cart-time{
  @apply bg-purple;
  @apply mt-12;
  border-radius: 15px;
  width: 100%;
  height: 150px;

}


.shoping-cart-time-content{
  
  @apply grid grid-cols-2;
  @apply p-10;
  @apply gap-y-4;

}

.cart-address{
  @apply col-span-1;
  justify-self: start;
  @apply text-white;
}

.edit-address{
  @apply col-span-1;
  justify-self: end;
  @apply text-yellow;
}
.time-indicator{
  justify-self: start;
  @apply col-span-1;
}
.choosetime{
  @apply col-span-1;
  justify-self: end;
  align-self: center;
  @apply text-yellow;
}

.time-indicator-icon{
  width: 40px;
  height: 40px;
  @apply bg-purple_light;
  border-radius: 15px;
  padding: 10px;
}

.time-indicator-content{
  display: flex;
  align-items: center;
}

.time-indicator-content h1{
  @apply ml-2;  
  @apply text-white;
  align-self: center;
}

.shoping-products-list{
  @apply mt-10;
  @apply overflow-y-auto;
}

.body-item-list{
  @apply mt-2;
  @apply grid grid-cols-3;
  @apply items-center;

}

.image-item-list{
  width: 80px;
  @apply col-span-1;
  border-radius: 15px;
}

.image-list{
  border-radius: 15px;
}

.name-item-list{
  @apply col-span-1;
}


.price-item-list{
  @apply col-span-1;
  justify-self: end;
}


.payment-module-body{
 
  @apply mt-12;
  
}
.payment-module-content{
  @apply relative;
  @apply grid grid-cols-2;
  @apply gap-y-3;
  
}

.payment-total-label{
  @apply col-span-1;
  justify-self: start;
}

.payment-total-label h1{
  @apply text-3xl;
}

.payment-total{
  @apply text-4xl;
  @apply col-span-1;
  justify-content: end;
  justify-self: end; 
}

.pesons-counter{
  @apply col-span-1;
  justify-self: start;
}

.submit-button{
  bottom: -50px;
  right: -60px;
  @apply absolute;
  @apply col-span-1;
  justify-self: end;
  align-content: center;
  
}


.customize-input-number::-webkit-inner-spin-button,
  .customize-input-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .custom-number-input input:focus {
    outline: none !important;
  }

  .custom-number-input button:focus {
    outline: none !important;
  }

  .customize-input-number{
    
    @apply  
    text-center 
    w-full 
    bg-gray 
    font-semibold      
    flex 
    items-center  ;


  }



.content-counter{
  border: 1px solid #000000;
  @apply 
  flex 
  flex-row 
  h-10 
  w-full 
  rounded-lg 
  relative 
  mt-1;
}


.button-payment{
  width: 200px;
  height: 75px;
  
  
  @apply
  align-middle
  bg-yellow 
  hover:bg-orange 
  text-white 
  font-bold   
  self-center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-right: 35px;
  @apply text-black;
}

.divider-payment{
  
  @apply col-span-2;
}
.divider-payment hr{
  @apply border-0 bg-black text-black h-px;
}

